*{
    box-sizing: border-box;
}
:root {
    --primOrangeColor : #FF5400;
}
/*font*/
.font_Mulish{
    font-family: 'Mulish', sans-serif;
}
.font_Inter{
    font-family: 'Inter', sans-serif;
}
/*Header Nav Style*/
.navDiv{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navDiv img{
    width:3rem;
    height: 3.5rem;
}
.brandLogo{
    display: flex;
    align-items: center;
}
.brandName{
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}
.navLink{
    display: flex;
    align-items: center;
}
.navLink ul{
    display: flex;
    gap: 44px;
    list-style: none;
    font-size: 18px;
    font-weight: 400;
}
.navLink .navIcon{
    display: none;
    align-items: center;
}
#HomeLink{
    color: var(--primOrangeColor);
    font-size: 18px;
    font-weight: 700;
}
#travelDesign{
    color: var(--primOrangeColor);
}
a{
    text-decoration: none;
    color: #424247;
}
/*Banner Style*/
.bannerSection{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}
.bannerDiv {
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('./Images/Group13.png') no-repeat;
    height: 31rem;
    width: 73rem;
    /* box-sizing: content-box; */
    border-radius: 16px;
    text-align: center;
}
.bannerTitle{
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    margin-top: 106px;
    margin-bottom: 1.5rem;
}
.bannerDescription{
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 0 auto;
    width: 676px;
    height: 5rem;
}
.btn-primary{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
    width: 11rem;
    height: 3.5rem;
    border-radius: 0.5rem;
    border: 0;
    background: #FF5400;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
}
.searchForm{
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    width: 800px;
    height: 84px;
}
.form{
    display: inline-flex;
    gap: 1.5rem;
}
.form input,select{
    width: 11rem;
    height: 3.5rem;
    border-radius: 0.5rem;
    border: 0;
    font-family: Mulish;
}
::placeholder{
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
    padding-left: 1rem;
    font-family: Mulish;
}
select{
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
    padding-left: 1rem;
}
/*popular div*/
.popularSection{
    margin-top: 6.25rem;
}
.popularContainer{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 73.125rem;
    align-items: center;
}
.PopularLeftDiv{
    width: 34.375rem;
    height: 34.375rem;
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
.PopularLeftDiv ul{
    padding-left: 1.25rem;
}
.PopularLeftDiv button{
    margin-top: 2rem;
    font-size: 20px;
    font-weight: 800;
}
.PopularImg{
    width: 34.375rem;
    height: 34.375rem;
}
.popularTitle{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}
/*Destination Section*/
.destinationContainer{
    text-align: center;
}
.destinationContainer h1{
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
}
.destinationContainer p{
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 643px;
    margin: 0 auto;
    margin-bottom: 3rem;
}
.tripsDiv{
    display: grid;
    row-gap: 24px;
    width: 1170px;
    margin: 0 auto;
}
.tripsDiv h3{
    color: #FFF;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
    position: relative;
    top:35%;
}
.BanBand{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px;
}
.malInd{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
}
.SriNorKas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 24px;
}
.Maldives {
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('./Images/Rectangle5.png') no-repeat;
    background-size: cover;
    width: 573px;
    height: 300px;
    border-radius: 16px;
}
.Indonesia{
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('./Images/Rectangle8.png') no-repeat;
    width: 573px;
    height: 300px;
    border-radius: 16px;
}
.Srilanka{
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('./Images/Rectangle6.png') no-repeat;
    width: 374px;
    height: 286px;
    border-radius: 16px;
}
.NorthAmerica{
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('./Images/Rectangle7.png') no-repeat;
    width: 474px;
    height: 286px;
    border-radius: 16px;
}
.Kashmir{
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('./Images/Rectangle9.png') no-repeat;
    width: 274px;
    height: 286px;
    border-radius: 16px;
}
.Bangladesh{
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('./Images/Rectangle11.png') no-repeat;
    width: 473px;
    height: 300px;
    border-radius: 16px;
}
.Bandarban{
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('./Images/Rectangle10.png') no-repeat;
    width: 673px;
    height: 300px;
    border-radius: 16px;
}
/*Why Choose Us Section*/
.chooseContainer h1{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}
.chooseContainer>p{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 643px;
    margin: 0 auto;
    text-align: center;
}
.chooseContainer h3{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}
.cardContainer p{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.cardContainer{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}
.cards{
    width: 573px;
    height: 284px;
    padding: 32px;
}
.card1{
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    margin-right: 24px;
}
.card2{
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
.card3{
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    margin: 0 auto;
    margin-top: 24px;
}
.card3 p{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
/*Review Section*/
.reviewSection >h1{
    text-align: center;
}
.reviewSection >p{
    text-align: center;
}
.reviewContainer{
    width: 585px;
}
.reviewCard{
    width: 473px;
    height: 254px;
    border-radius: 16px;
    border: 1px solid rgba(255, 198, 55, 0.436);
    background: rgba(241, 152, 27, 0.134);
    padding: 20px;
    padding-top: 0;
    margin-left: 24px;
    margin-bottom: 24px;
}
.reviewHead{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.reviewCard img{
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
.reviewCard h1{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}
.Rating{
    color: #131318;
    font-size: 18px;
    font-weight: 700;
}
.rateTitle{
    color: #FF5400;
}
.reviewDescription{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.reviewSection > div{
    margin-left: 20%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 24px;
    width: 585px;
}
.reviewSection h1{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 1.5rem;
}
.reviewSection >p{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 0;
    margin-bottom: 1.5rem;
}
/*Newsletter Div*/
.newsletterContainer{
    display: flex;
    justify-content: center;
    margin-top: 6.25rem;
}
.NewsletterDiv{
    width: 29.625rem;
    height: 26.375rem;
    border: 1px solid #FF5400;
    border-radius: 16px;
    margin-right: 1.5rem;
    padding: 2.5rem;
    padding-top: 1.5rem;
}
.NewsletterDiv h3{
    
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}
.NewsletterDiv p{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.NewsletterDiv hr{
    background: rgba(19, 19, 24, 0.10);
    margin-bottom: 1.5rem;
}
.NewsletterDiv input{
    width: 24.5625rem;
    height: 3.25rem;
    margin-bottom: 1rem;
    border: 0;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
}
.NewsletterDiv input[type="submit"]{
    background: #FF5400;
    color: #FFF;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 800;
}
.NewsletterImg{
    background-image: url('./Images/Rectangle81.png');
    background-repeat: no-repeat;
    width: 42rem;
    height: 26.375rem;
    background-size: cover;
    border-radius: 16px;
    position: relative;
}
.NewsletterImg div{
    width: 324px;
    height: 120px;
    border-radius: 16px;
    background: #FF5400;
    text-align: center;
    transform: rotate(-19.628deg);
    position: absolute;
    bottom: 3rem;
    right: 1rem;
}
.NewsletterImg p{
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    padding-top: 25px;
    position: bottom-right;
}
.NewsletterImg h1{
    color: #FFF;
    font-size: 32px;
    font-weight: 800;
    margin: 0;
    
}
/*Footer Section*/
footer{
    width: 100%;
    height: 502px;
    background: rgba(19, 19, 24, 0.05);
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.footerContainer .brandLogo{
    margin-left: 30%;
}
.footerContainer hr{
    background: rgba(19, 19, 24, 0.10);
    margin-bottom: 3.2rem;
}
.socialLogo{
    margin-bottom: 3.2rem;
}
.socialLogo img{
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 24px;
}
.footerContainer .brandLogo h1{
    font-size: 32px;
}
.footerContainer .brandLogo img{
    height: 46.673px;
}
.footerDescription{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 769px;
    margin-bottom: 2rem;
}
.rights{
    color: #131318;
    font-size: 16px;
    font-weight: 300;
}
/* Media Query For Mobile */
@media screen and (max-width:600px) {
    *{
        padding: 0;
    }
    nav {
        width: 100%;
        justify-content: space-between;
        padding: 0 1rem;
    }
    .brandName {
        font-size: 21px; 
        font-weight: 800;
    }
    .navLink ul {
        display: none;
    }
    .navLink .navIcon {
        display: block;
        width: 1.5rem;
        height: 1.5rem;
        position: relative;
        top: -20px;
        left: -20px;
    }
    .bannerTitle {
        font-size: 22px;
        margin-top: 32px;
    }
    .bannerDiv {
        width: 21rem;
        height: 31rem;
    }
    .bannerDescription {
        font-size: 14px;
        line-height: 21px;
        width: 19rem;
        height: auto;
    }
    .form input, select {
        width: 16rem;
        height: 3.25rem;
    }
    .searchForm {
        flex-direction: column;
        width: 18rem;
        height: 19rem;
        padding-top: 1rem;
        margin-top: 2rem;
    }
    .form {
        flex-direction: column;
    }
    .searchForm button {
        width: 16rem;
        height: 52px;
    }
    /* Popular Div */
    .popularSection{
        margin-top: 1.5rem;
    }
    .popularContainer{
        flex-direction: column;
        gap: 18rem;
        width: 21rem;
    }
    .PopularLeftDiv{
        width: 21rem;
        height: 21rem;
        font-size: 14px;
    }
    .popularTitle{
        width: 11.125rem;
        font-size: 20px;
        font-weight: 800;
    }
    .PopularImg{
        width: 21rem;
        height: 21rem;
    }
    .PopularImg img{
        width: 100%;
        height: 100%;
    }
    .PopularLeftDiv button{
        font-size: 20px;
    }
/*Destination Trips Section*/
    .malInd,.SriNorKas,.BanBand{
        grid-template-columns: repeat(1,1fr);
    }
    .Bandarban,.Bangladesh,.Indonesia,.Kashmir,.Maldives,.NorthAmerica,.Srilanka,.malInd,.SriNorKas,.BanBand,.tripsDiv{
        width: 335px;
    }
    .BanBand,.SriNorKas,.malInd{
        row-gap: 24px;
    }
    .Kashmir{
        background-image: url('./Images/Rectangle9_Responsive.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .destinationContainer h1{
        font-size: 20px;
    }
    .destinationContainer p{
        width: 309px;
        font-size: 14px;
    }
    /*Why Choose Section*/
    .chooseContainer h1{
        font-size: 20px;
    }
    .chooseContainer > P{
        font-size: 14px;
    }
    .cardContainer{
        flex-direction: column;
        gap: 16px;
        margin-top: 16px;
        margin-bottom: 16px;
    }
    .cards{
        width: 335px;
        height: 289px;
        margin: 0 auto;
    }
    .chooseContainer img{
        width: 3rem;
        height: 3rem;
    }
    .chooseContainer h3{
        font-size: 20px;
    }
    .chooseContainer p{
        font-size: 14px;
        width: 309px;
    }
    /*NewsLetter Section*/
    .newsletterContainer{
        flex-direction: column;
        margin-top: 1.5rem;
    }
    .NewsletterDiv,.NewsletterImg{
        width: 335px;
        margin: 0 auto;
    }
    .NewsletterDiv{
        padding: 1.5rem;
        margin-bottom: 16px;
    }
    .NewsletterDiv h3{
        font-size: 20px;
    }
    .NewsletterDiv p{
        font-size: 14px;
        line-height: 24px;
    }
    .NewsletterDiv input{
        width: 288px;
        height: 52px;
    }
    .NewsletterImg div{
        width: 214.023px;
        height: 79.268px;
    }
    .NewsletterImg p{
        font-size: 15.854px;
        padding-top: 18px;
    }
    .NewsletterImg h1{
        font-size: 21.138px;
    }
    /*Footer Section*/
    .footerContainer .brandLogo h1{
        font-size: 21.543px;
    }
    .footerContainer .brandLogo{
        margin-left: 15%;
    }
    .footerContainer .brandLogo img{
        width: 28.724px;
        height: 33.516px;
    }
    .footerDescription{
        font-size: 14px;
        width: 287px;
    } 
    .rights{
        font-size: 14px;
    }
    /*Review Section*/
    .reviewSection div{
        grid-template-columns: repeat(1,1fr);
        margin-left: 0;
        width: 335px;
        margin: 0 auto;
    }
    .reviewSection>h1{
        font-size: 20px;
    }
    .reviewSection > p{
        width: 309px;
        font-size: 14px;
        margin: 0 auto;
        margin-bottom: 16px;
    }
    .reviewHead h1{
        font-size: 20px;
    }
    .Rating{
        font-size: 16px;
    }
    .reviewDescription{
        font-size: 14px;
    }
    .reviewCard{
        padding: 30px;
    }
}
